<nav class="navbar navbar-expand-lg">
	<div class="container-fluid">
		<a class="navbar-brand fs-3 mx-2" href="#">Wild Series</a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav d-flex align-items-end me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link mx-2" href="#">Accueil</a>
				</li>
				<li class="nav-item">
					<a class="nav-link mx-2" href="#">Films</a>
				</li>
				<li class="nav-item">
					<a class="nav-link mx-2" href="#">Séries</a>
				</li>
				<li class="nav-item">
					<a class="nav-link mx-2" href="#">Actualités</a>
				</li>
				<li class="nav-item">
					<a class="nav-link mx-2" href="#">Connexion</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
